 <nav class="navbar navbar-expand-sm bg-info navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="../../../assets/images/logo.png"
        alt="Avatar Logo"
        style="width: 60px"
        class="rounded-pill"
      />Archives<span style="color:brown"> Aéronautiques</span> 
    </a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link active" href="#">Accueil</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active" href="#">Pays</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link active" href="#">Armoire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Rangée</a>
      </li>
      <li class="nav-item">                                                                           
        <a class="nav-link active" href="#">Dossier</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="#">Consultations</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" href="#" role="button" aria-haspopup="true" data-bs-toggle="dropdown" aria-expanded="false">Consultations</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li> -->
      <li class="nav-item">
        <!-- <a class="nav-link active" href="#"></a> -->
        <button type="button" class="btn btn-dark">Deconnexion</button>

        <!-- <button type="button" class="btn btn-secondary"></button> -->
      </li>
    </ul>
  </div>
</nav>
